.rain-canvas {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
  pointer-events: none; /* MUITO IMPORTANTE: não bloquear cliques */
}

/* atrás do conteúdo */
.rain-canvas--back {
  z-index: 0;
}

/* na frente do modal (tem que ser maior que o z-index do modal) */
.rain-canvas--front {
  z-index: 100000;
}
