<nav class="navbar navbar-expand-lg navbar-dark fixed-top custom-navbar">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="nav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link nav-pixel" routerLink="/">Home</a></li>
        <li class="nav-item"><a class="nav-link nav-pixel" routerLink="/about">Sobre</a></li>
        <li class="nav-item"><a class="nav-link nav-pixel" routerLink="/projects">Projetos</a></li>
        <li class="nav-item"><a class="nav-link nav-pixel" routerLink="/contact">Contato</a></li>
      </ul>
    </div>
  </div>
</nav>
